<app-cabecera></app-cabecera>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <select class="custom-select"
                (change)="seleccionEstado($event.target.value)">
                <option>Seleccione un estado</option>
                <option *ngFor="let item of this.estados" [value]="item">{{item}}</option>
            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md">
            <h4>Turnos</h4>
            <table class="table table-dark table-striped table-bordered
                table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Paciente</th>
                        <th scope="col">Especialidad</th>
                        <th scope="col">Dia</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody *ngIf="this.turnos;">
                    <tr *ngFor="let item of this.turnosPaciente"
                        (click)="seleccionado(item)" data-toggle="modal"
                        data-target="#exampleModal">
                        <td>{{item.paciente}}</td>
                        <td>{{item.especialidad}}</td>
                        <td>{{item.fecha}}</td>
                        <td>{{item.horario}}</td>
                        <td>{{item.estado}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalle Turno</h5>
                <button type="button" class="close" (click)="guardarResenia()"
                    data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div *ngIf="selected" class="modal-body">
                <div>
                    <h2>{{this.selected.paciente}}</h2>
                    <img [src]="this.imagen1" width="100px" alt="">
                    <img [src]="this.imagen2" width="100px" alt="">
                    <h5>Estado: {{this.selected.estado}}</h5>
                    <h5>Especialidad: {{this.selected.especialidad}}</h5>
                    <h5>{{this.selected.fecha}} a las {{this.selected.horario}}</h5>
                    <div *ngIf="this.selected.estado == 'En Curso' ||
                        this.selected.estado == 'Finalizado'">
                        <label for="exampleFormControlTextarea1">Reseña Medico</label>
                        <textarea [(ngModel)]="this.resenia"
                            class="form-control"
                            id="exampleFormControlTextarea1" rows="2">{{this.selected.reseniaMedico}}</textarea>
                    </div>
                    <div *ngIf="this.selected.estado == 'Finalizado'">
                        <label for="exampleFormControlTextarea2">Reseña Paciente</label>
                        <textarea class="form-control"
                            id="exampleFormControlTextarea2" disabled
                            rows="2">{{this.selected.reseniaPaciente}}</textarea>
                    </div>
                    <div style="margin-top: 10px;" *ngIf="this.selected.arrayOpcionales.length > 0">
                        <label><h5>Datos Adicionales</h5></label>
                        <table class="table table-dark table-striped
                            table-bordered
                            table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Dato</th>
                                    <th scope="col">Valor</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="this.selected.arrayOpcionales;">
                                <tr *ngFor="let item of this.selected.arrayOpcionales">
                                    <td>{{item.dato}}</td>
                                    <td>{{item.valor}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="this.selected.estado == 'En Curso'">
                        <button type="button" class="btn btn-dark btn-sm
                            btnAgregarDato"
                            (click)="agregarDato()">Agregar Dato</button>
                        <br>
                    </div>
                    <div #div>

                    </div>

                </div>
                <div class="modal-footer" style="justify-content: center;">
                    <button *ngIf="selected.estado != 'Finalizado' &&
                        selected.estado != 'Cancelado' && selected.estado != 'En
                        Curso'" type="button" class="btn btn-danger"
                        (click)="cancelar()">Cancelar</button>
                    <button *ngIf="selected.estado == 'Pendiente'" type="button"
                        class="btn btn-primary" (click)="aceptar()">Aceptar</button>
                    <button *ngIf="selected.estado == 'Aceptado'" type="button"
                        class="btn btn-primary" (click)="enCurso()">Atender</button>
                    <button *ngIf="selected.estado == 'En Curso'" type="button"
                        class="btn btn-success" (click)="finalizar()">Finalizar</button>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
