<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<button hidden type="button" id="btnModalError" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
  </button>
  <button hidden type="button" id="btnModalError" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter1">
    Launch demo modal
  </button>
  
  <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">ERROR</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Usuario no encontrado
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="volverALogin()">Cerrar</button>
        </div>
      </div>
    </div>
  </div> 

  <div class="modal fade show" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Login</h5>
          <button type="button"  class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">@</span>
              </div>
              <input [(ngModel)]="this.email" type="email" class="form-control" id="usuario" placeholder="Correo" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Contraseña</span>
              </div>
              <input [(ngModel)]="this.clave" type="password" class="form-control" placeholder="Contraseña" aria-label="Contraseña" aria-describedby="basic-addon1">
            </div>
          </div>
          <re-captcha (resolved)="resolved($event)"
          formControlName="myRecaptcha"
          siteKey="6LdPPwEVAAAAAMvY2LdrmWzHg6X6J4Pz9P7HNOlv">
        </re-captcha>
        </div>
        <div class="modal-footer">
          <div class="container">
            <div class="row">
              <button type="button" data-backdrop="false" data-dismiss="modal" routerLink="/" class="btn btn-danger">Cancelar</button>
              <button [disabled]="!captchaCompleto" type="button" data-backdrop="false" data-dismiss="modal" (click)="onLogin()" class="btn btn-success">Ingresar</button>
              <button type="button" data-backdrop="false" data-dismiss="modal" (click)="onLogin()" class="btn btn-secondary">Ingresar Sin Captcha</button>
              <select #select (change)="completarCampos(select.value)">
                <option selected >Seleccione un usuario </option>
                <option *ngFor="let item of usuariosLogin" [value]="item.email">{{item.descripcion}}</option>
              </select>
              <br>
            </div>
            <div class="row">
            </div>
        </div>
      </div>
    </div>
  </div>