<app-cabecera></app-cabecera>
<br>
<div class="container">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Aprobado</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of profesionales" (click)="seleccionado(item)" data-toggle="modal" data-target="#exampleModal">
            <td>{{item.nombre}}</td>
            <td>{{item.apellido}}</td>
            <td *ngIf="item.aprobado"> <button class="btn btn-success" disabled>Aprobado</button> </td>   
            <td *ngIf="!item.aprobado"><button class="btn btn-danger" disabled>No Aprobado</button></td> 
        </tr>

        </tbody>
    </table>
</div>


  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Profesional</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngIf="selected" class="modal-body">
          <div>
            <h2>{{this.selected.nombre}} {{this.selected.apellido}}</h2>
            <h5>{{this.selected.mail}}</h5>
            <h5>{{this.selected.edad}} Años</h5>
          </div>
          
          
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Especialidad</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of this.selected.especialidades; let i=index">
                <td>{{item.descripcion}}</td>
            </tbody>
          </table>
        </div>
        <div class="modal-footer" style="justify-content: center;" *ngIf="selected">
          <button *ngIf="!selected.aprobado" type="button" class="btn btn-success" (click)="habilitar()" data-dismiss="modal">Habilitar</button>
          <button *ngIf="selected.aprobado" type="button" class="btn btn-danger" data-dismiss="modal" (click)="deshabilitar()">Deshabilitar</button>
        </div>
      </div>
    </div>
  </div> 