<app-cabecera></app-cabecera>
<br><br><br>

<div class="container">
    <app-buscadormedico (especialidad)="filtrarEspecialidad($event)"></app-buscadormedico>
    <br>
  <div class="row">
    <div class="col">
      1 of 2
    </div>
    <div class="col">
      2 of 3
    </div>
    <div class="col">
        <label >Profesionales</label>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
              </tr>
            </thead>
            <tbody *ngIf="this.profesionales;">
              <tr *ngFor="let item of profesionales" (click)="seleccionado(item)"
                data-toggle="modal" data-target="#exampleModal">
                <td>{{item.nombre}}</td>
                <td>{{item.apellido}}</td>
              </tr>
        
            </tbody>
          </table>
      </div>
  </div>
</div>
