<p>cabecera works!</p>
<nav class="navbar fixed-top navbar-light bg-light">

    <ul class="nav nav-tabs" >
      <a class="navbar-brand" href="#">
        <img src="./assets/imagenes/simboloCabecera.png" width="30" height="30"
          class="d-inline-block align-top" alt="">
        FRA
      </a>
      <li  class="nav-item">
        <a class="nav-link" href="./Informacion">Informacion</a>
      </li>
      <li  class="nav-item">
        <a class="nav-link" href="./Registro">Registro</a>
      </li>
      <li  *ngIf="!this.logueado;" class="nav-item">
        <a class="nav-link" href="./Login">Login</a>
      </li>
      <li  *ngIf="this.logueado;" class="nav-item">
        <a class="nav-link" href="" (click)="logOut()">Logout</a>
      </li>
      <li  *ngIf="this.admin" class="nav-item">
        <a class="nav-link" href="./ListadoMedicos">Listado Medicos</a>
      </li>
    </ul>


  </nav>